<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="rightmainbody">
      <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
        
        <tr class="tdbheader">
          <td nowrap width="16%">名称</td>
          <td nowrap width="10%">分类</td>
          
          <td nowrap width="20%">地址</td>
          <td nowrap width="40%">描述</td>
          <td nowrap="nowrap" width="2%"> 编辑 </td>
          
        </tr>
        <%@links.each do |link|%>
          <tr class="tablecell">
          
            <td nowrap><%=link.title%></td>
            <td nowrap><%=link.parent%></td>
            <td nowrap><%=link.weburl%></td>
            <td><%=link.description%></td>
            <td nowrap="nowrap">
              <%=link_to image_tag("icos/edit.gif", :border=>"0",:size => "16x16", :alt => "编辑"),{:action=>"edit",:id=>link.id}%>
            </td>
          </tr>
        <%end%>
                        
                  
        <tr class="tablecell">
          <td colspan="5" nowrap="nowrap"><div class="records">页:<%= @links.current_page%>/<%=@links.page_count %>,记录:<%=@links.total_entries %></div>
            
          <div class="multipage"><%= will_paginate @links %></div></td>
          
        </tr>
        
        <tr>
          <td class="tablebottom" colspan="5"></td>
        </tr>
      </table>
    </td>
    
  </tr>
  
</table>