<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="rightmainbody">
      <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
        
        <tr class="tdbheader">
          <td nowrap width="16%">名称</td>
          <td nowrap width="10%">分类</td>
          <td nowrap width="20%">父分类</td>
          <td nowrap width="40%">描述</td>
        </tr>
        <%@categories.each do |cate|%>
          <tr class="tablecell">
            <td nowrap><%=cate.position%></td>
            <td nowrap><%=cate.title%></td>
            <td nowrap><%=cate.type.title%></td>
            <td nowrap><%=cate.description%></td>
          </tr>
        <%end%>
              
        
        <tr class="tablecell">
          <td colspan="8" nowrap="nowrap">
            <div class="records">页:<%= @categories.current_page%>/<%=@categories.page_count %>,记录:<%=@categories.total_entries %></div>
            <div class="multipage"><%= will_paginate @categories %></div>
          </td>
        </tr>
        
        <tr>
          <td class="tablebottom" colspan="4"></td>
        </tr>
      </table>
    </td>
    
  </tr>
  
</table>