<table align="center" border="0" cellpadding="5" cellspacing="0">
  <tbody>
    <tr>
      <td align="center" width="60"></td>
      <td align="left">Powered by <strong><a href="http://1stlog.1sters.com/" target="_blank"><%=LOG_APP_CONFIG['APP']['NAME']+" "+LOG_APP_CONFIG['APP']['VERSION']%></a></strong> © <%= year_range(2007) -%> 
        <strong><a href=<%=LOG_APP_CONFIG['COPYRIGHT']['HOMEPAGE']%> target="_blank"><%=LOG_APP_CONFIG['COPYRIGHT']['NAME']%></a></strong>
      Version: <%=LOG_APP_CONFIG['APP']['RELEASE_TIME']%></td> 
      <td align="center" width="120"></td>
    </tr>
</tbody></table>
