<%c_name = controller.controller_name%>
<table border="0" cellpadding="0" cellspacing="0" height="25" width="100%">
  <tbody><tr>
      <td>&nbsp;</td>
      <td class="navcell" onmouseover="document.getElementById('configurations').className='cpnavmenuHover'" onmouseout="document.getElementById('configurations').className='<%=get_cure_class(c_name,"configurations") %>'" width="9%">
          <div class="<%=get_cure_class(c_name,"configurations")%>" id="configurations"><%=link_to "系统设置",admin_configurations_path%></div>
      </td>

      <td class="navcell" onmouseover="document.getElementById('topics').className='cpnavmenuHover'" onmouseout="document.getElementById('topics').className='<%=get_cure_class(c_name,"topics") %>'" width="9%">
          <div class="<%=get_cure_class(c_name,"topics")%>" id="topics"><%=link_to "文章管理",admin_topics_path%></div>
      </td>

       <td class="navcell" onmouseover="document.getElementById('comments').className='cpnavmenuHover'" onmouseout="document.getElementById('comments').className='<%=get_cure_class(c_name,"comments") %>'" width="9%">
          <div class="<%=get_cure_class(c_name,"comments")%>" id="comments"><%=link_to "评论管理",admin_comments_path%></div>
      </td>

       <td class="navcell" onmouseover="document.getElementById('attachments').className='cpnavmenuHover'" onmouseout="document.getElementById('attachments').className='<%=get_cure_class(c_name,"attachments") %>'" width="9%">
          <div class="<%=get_cure_class(c_name,"attachments")%>" id="attachments"><%=link_to "附件管理",admin_attachments_path%></div>
      </td>

       <td class="navcell" onmouseover="document.getElementById('categories').className='cpnavmenuHover'" onmouseout="document.getElementById('categories').className='<%=get_cure_class(c_name,"categories") %>'" width="9%">
          <div class="<%=get_cure_class(c_name,"categories")%>" id="types"><%=link_to "分类管理",admin_categories_path%></div>
      </td>

       <td class="navcell" onmouseover="document.getElementById('users').className='cpnavmenuHover'" onmouseout="document.getElementById('users').className='<%=get_cure_class(c_name,"users") %>'" width="9%">
          <div class="<%=get_cure_class(c_name,"users")%>" id="users"><%=link_to "用户管理",admin_users_path%></div>
      </td>

       <td class="navcell" onmouseover="document.getElementById('links').className='cpnavmenuHover'" onmouseout="document.getElementById('links').className='<%=get_cure_class(c_name,"links") %>'" width="9%">
          <div class="<%=get_cure_class(c_name,"links")%>" id="links"><%=link_to "链接管理",admin_links_path%></div>
      </td>

       <td class="navcell" onmouseover="document.getElementById('themes').className='cpnavmenuHover'" onmouseout="document.getElementById('themes').className='<%=get_cure_class(c_name,"themes") %>'" width="9%">
          <div class="<%=get_cure_class(c_name,"themes")%>" id="themes"><%=link_to "模板管理",admin_themes_path%></div>
      </td>

       <td class="navcell" onmouseover="document.getElementById('plugins').className='cpnavmenuHover'" onmouseout="document.getElementById('plugins').className='<%=get_cure_class(c_name,"plugins") %>'" width="9%">
          <div class="<%=get_cure_class(c_name,"plugins")%>" id="plugins"><%=link_to "插件管理",admin_plugins_path%></div>
      </td>




       <td class="navcell" onmouseover="document.getElementById('caches').className='cpnavmenuHover'" onmouseout="document.getElementById('caches').className='<%=get_cure_class(c_name,"caches") %>'" width="9%">
          <div class="<%=get_cure_class(c_name,"caches")%>" id="caches"><%=link_to "系统维护",admin_caches_path%></div>
      </td>



       <td class="navcell" onmouseover="document.getElementById('logs').className='cpnavmenuHover'" onmouseout="document.getElementById('logs').className='<%=get_cure_class(c_name,"logs") %>'" width="9%">
          <div class="<%=get_cure_class(c_name,"logs")%>" id="logs"><%=link_to "运行日志",admin_logs_path%></div>
      </td>

 <td>&nbsp;</td>
    </tr>
  </tbody>
</table>